.header{
    display:flex;
    color: White;
    display: flex;
    padding: 15px;
    width: 100%;
    background-color:#1f2937;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logotext{
    color: #f9faf8;
    width:100%;
    padding: 15px;
    padding-left: 158px;
    font-size:24px;
}
ul{
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 158px;
    margin-right: 353px;
}
a{
    color: #e5e7eb;
    text-decoration: none;
    padding: 0px;
    padding-right:24px;
    font-size: 18px;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    background-color:#1f2937;
    padding-left: 391px;
    height: 400px;
    padding-top: 75px;
    width: 343px;
}
.signup{
height: 30px;
width: 95px;
text-align: center;
background-color: #3882f6;
color: white;
border-radius: 7px;
border-color: #3882f6;
}
.midtext{
    display: flex;
    flex-direction: column;
  overflow-wrap: break-word;

}
.midtext h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
}
.container{
    display: flex;
    color: white;
    background-color: #1f2937
}
.imagebox{
    display: flex;
    background-color: grey;
    height: 250px;
    width: 510px;
    text-align: center;
    margin-left: 80px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}
.container2{
    width:100%;
text-align: center;
}

.no2box1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 40px;
    align-items: center;
    padding-left: 30%;
    padding-right:50%;
}
.no2innerbox1{
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    padding: 5px;
    margin: 27px;
}
.container2 .heading2{
    color: #1f2937;
text-align: center;
font-size: 36px;
}
.container3{
    display: flex;
    height: 500px;
    width:100%;
    text-align: center;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    
}
.middlepage{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    width: 604px;
}
.authorname{
font-weight: bold;
    margin-top:auto;
}
.container4{
    display: flex;
    background-color:#3882f6;
    align-items: center;
    padding: 40px;
    height: 48px;
    width: 615px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.content4{
    color: white;
    padding: 25px;
    width: 100%;
}
.signup2{
height: 30px;
width: 95px;
text-align: center;
background-color: #3882f6;
color: white;
border-radius: 7px;
border-color: white;
border-style: solid;
}
.signupbutton2{
    padding: 25px;
}
.footer{
    display: flex;
    color: white;
    background-color: #1f2937;
    height: 75px;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}